<section class="appsection">
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="allDataTable table-responsive text-center">
                    <h1 style="color:#110f0f;"><b>English Premier League Club Matches</b></h1>

                    <div class="well">
                    	<form class="form-horizontal">
                            <div class="form-group">
                            	<label class="col-xs-12">Filter by Name: </label>
                            	<div class="col-xs-12">
                            		<input type="text" class="form-control" ng-model="searchTeam" placeholder="Enter your Favourite Team Name" />
                            	</div>
                            </div>
                            <div class="form-group">
                            	<label class="col-xs-12">Filter by Year: </label>
                            	<div class="col-xs-12">
                            		<input type="text" class="search form-control input-sm" ng-model="searchByYear" placeholder="Enter Year to search" />
                            	</div>
                            </div>
                             <div class="form-group">
                            	<label class="col-xs-12">Filter by Team1 goals: </label>
                            	<div class="col-xs-12">
                            		<input type="text" class="search form-control input-sm" ng-model="searchByScore1.score1" placeholder="Enter score to search" />
                            	</div>
                            </div>
                            <div class="form-group">
                            	<label class="col-xs-12">Filter by Team2 goals: </label>
                            	<div class="col-xs-12">
                            		<input type="text" class="search form-control input-sm" ng-model="searchByScore2.score2" placeholder="Enter score to search" />
                            	</div>
                            </div>
                    
                        </form>
                    </div>  


                    <table class="responsive table table-bordered table-striped table-hover">
                    <thead>
                    	<tr>
                    		
                    		<th class="text-center">
                    			<u>Team 1</u>
                    		</th>
                    		<th class="text-center">
                    			<u>Team 2</u>
                    		</th>
                            <th class="text-center">
                                <u>Date</u>
                            </th>
                    		<th class="text-center">
                    			<u>Score 1</u>
                    		</th>
                    		<th class="text-center">
                    			<u>Score 2</u>
                    		</th>
                    		<th class="text-center">
                    			<u>View Match</u>
                    		</th>	
                    	</tr>
                    </thead> 

                    <tbody ng-repeat='round in myData.combinedData'>
                    	<tr ng-repeat="match in round.matches | filter:searchTeam | filter:searchByScore1 | filter:searchByScore2 | filter:searchByYear" >
                    		
                    		<td>
                    			<a ng-href="#/team-view/{{ match.team1.code }}/{{ match.team1.key }}" title="View Team Statistics">{{ match.team1.name }}</a>
                                    <br> code: "{{ match.team1.code }}"
                    		</td>
                    		<td>
                    			<a ng-href="#/team-view/{{ match.team2.code }}/{{ match.team2.key }}" title="View Team Statistics">{{ match.team2.name }}</a>
                                    <br> code: "{{ match.team2.code }}"
                    		</td>
                            <td>
                                {{match.date | date: "fullDate" }}
                                
                            </td>
                    		<td>
                    			<span>{{match.score1 }}</span><span ng-show="match.score1 === null">"Not Available Yet"</span>
                    		</td>
                    		<td>
                    			<span>{{match.score2 }}</span><span ng-show="match.score2 === null">"Not Available Yet"</span>
                    		</td>
                    		 
                    		 <td> <a class="button" ng-href='#/view-match/{{ match.date | date:"yyyyMMdd" }}/{{ match.team1.code }}/vs/{{ match.team2.code }}' title="View Match Full Details">View Match</a>
                             </td>
                        </tr>     
                    	
                    </tbody> 
                </table>
               </div>
            </div>
        </div>
    </div>

                            	
	
</section>